PORT=4000
PG_HOST=localhost
PG_PORT=5432
PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password
PG_DATABASE=your_database_name
REDIS_URL=redis://localhost:6379

TICKETMASTER_API_KEY=9JPQqN5QIpXuI1xQrB4suQ0lF0knNACv